.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.logo {
  z-index: 1;
  width: 228px;
  height: 32px;
  background-repeat: no-repeat;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  background-image: url(../images/logo_place_header.svg);
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #F2F2F2;
  display: flex;
  position: relative;
  overflow: hidden;
  /* выше установили ограничения для секции */
}

.header__title {
  line-height: 96px;
  font-size: 102px;
  max-width: 730px;
  padding: 0 64px;
  margin: 0;
  position: relative;
  z-index: 1;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.header__subtitle {
  line-height: 25px;
  font-size: 18px;
  font-weight: 400;
  max-width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  z-index: 1;
  align-self:flex-end;
  margin: 0;
}

.header__link {
  text-decoration: none;
  color: #2F80ED;
  transition: opacity .2s linear;
  cursor: pointer;
}

.header__link:hover {
  opacity:.6;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2F80ED;
  position: absolute;
  top: 64px;
  right: 0;
  transform: rotate(-15deg);
  animation: rotation linear 20s infinite;
}

@keyframes rotation {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  background-image: url(../images/two_again.png);
  background-size: cover;
  position: absolute;
  bottom: 0;
  right: 0;
}

.description {
  padding: 70px 0 0;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.two-columns__brief {
  max-width: 175px;
  font-size: 18px;
  color: #2F80ED;
  line-height: 1.2;
  font-weight: 400;
  margin: 0;
  padding: 30px 10px 0 0;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  font-size: 24px;
  line-height: 34px;
  margin: 0;
  padding: 30px 0 0;
}

.two-columns__span-accent {
  font-weight: 700;
}

.digits {
  margin: 100px 0;
}

.section-title {
  text-align: center;
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  line-height: 1.15;
  z-index: 1;
}

.section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  padding: 20px 0 0;
  margin: 0;
  z-index: 1;
}

.techniques {
  margin: 100px auto 0;
}

.cards {
  width: 920px;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  column-gap: 100px;
}

.cards__item {
  width: 240px;
  margin-top: 60px;
}

.cards__image {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin: 0 40px;
}

.cards__title {
  line-height: 1.15;
  font-size: 24px;
  text-align: center;
  font-weight: 600;
  margin: 43px 0 0;
}

.cards__description {
  line-height: 23px;
  font-size: 18px;
  text-align: center;
  font-weight: 400;
  margin: 16px 0 0;
}

.video {
  margin: 100px auto 0;
}

.video__iframes {
  display: flex;
  justify-content: center;
  position: relative;
  top: 50px;
  z-index:1;
}

.video__iframe {
  width: 515px;
  height: 316px;
  margin-right: 20px;
}

.oakley {
  background-color: #F2F2F2;
  padding: 160px 0 0;
  position: relative;
  z-index: -1;
}

.table {
  width: 1100px;
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  padding: 0;
  list-style: none;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}

.table__text {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  padding: 20px 0 0;
  line-height: 1.2;
}

.feynman {
  min-height: 890px;
  background: #F2F2F2 url(../images/feynman.png) no-repeat bottom left;
  background-size: 867px 637px;
  flex-direction: column;
  align-items: center;
  position: relative;
  display: flex;
}

.feynman__title {
  font-size: 120px;
  width: 648px;
  height: auto;
  line-height: 1.15;
  text-align: center;
  font-weight: 700;
  margin: 0;
  padding: 100px 0 0;
}

.feynman__subtitle {
  line-height: 51px;
  text-align: center;
  font-size: 36px;
  margin: 0;
  padding: 70px 0 0;
  font-weight: 400;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  text-decoration: none;
  color: #2F80ED;
  position: absolute;
  top: 50%;
  right: 48px;
  font-weight: 400;
  margin: 0;
  transition: opacity .2s linear;
}

.feynman__link:hover {
  opacity:.6;
}

.khan {
  background-color: #F2F2F2;
  padding-top: 105px;
}

.khan__container {
  width: 80%;
  margin: auto;
}

.khan__author {
  line-height: 42px;
  font-size: 30px;
  margin: 0;
  font-weight: 400;
}

.khan__title {
  line-height: 1.15;
  font-size: 60px;
  margin: 0;
  font-weight: 600;
}

.khan__quote {
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;
  margin: 50px 0 0;
  width: 790px;
}

.khan__quote-author {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin: 36px 0 0;
}

.khan__quote-author-subline {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 400;
  margin: 10px 0 0;
}

.khan__book-container {
  margin-top: 68px;
  display: flex;
}

.khan__book-pic {
  height: 620px;
  width: 608px;
  background-image: url(../images/khan-book.jpg);
  background-size: cover;
}

.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: 400;
  text-decoration: none;
  color: #2F80ED;
  margin-left: 48px;
  transition: opacity .2s linear;
  cursor: pointer;
}

.khan__buy-link:hover {
  opacity:.6;
}

.kaufman {
  background-color: #1F1F1F;
  padding: 90px 0;
  position: relative;
  overflow: hidden;
}

.section-title_theme_dark {
  color: #fff;
  position: relative;
  min-width: 60%;
}

.section-subtitle_theme_dark {
  color: #fff;
  position: relative;
  min-width: 60%;
}

.table_theme_dark {
  padding: 0;
  margin: 0 auto;
  justify-content: space-between;
  align-content: space-between;
  position: relative;
  z-index: 1;
  display: flex;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.table__heading_theme_dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
}

.table__text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-weight: 400;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  background-image: url(../images/kaufman-triangle.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: -210px;
  z-index: 0;
  overflow: hidden;
  animation: rotation linear 20s infinite;
}

.resources {
  margin: 100px 0 0;
}

.resources__logo-zone {
  margin: 80px auto 217px;
  display: flex;
  width: 1100px;
  justify-content: center;
  align-content: space-between;
}

.resources__logo {
  width: 270px;
  height: 38px;
  background: center no-repeat;
  background-size: contain;
}

.resources__logo_arzamas {
  background-image: url(../images/logo/resources-arzamas.svg);
}

.resources__logo_n1 {
  background-image: url(../images/logo/resources-n1.svg);
}

.resources__logo_strelka {
  background-image: url(../images/logo/resources-strelka.svg);
}

.resources__logo_polka {
  background-image: url(../images/logo/resources-polka.svg);
}

.footer {
  background-color: #1F1F1F;
  min-height: 250px;
  padding: 60px 0 40px;
}

.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
  background-repeat: no-repeat;
  display: flex;
  width: 228px;
  height: 32px;
}

.footer__columns {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.footer__column {
  min-height: 250px;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  margin: 0;
}

.footer__column_content_info {
  align-items: center;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  padding: 0 0 20px;
  margin: 0;
}

.footer__column-links {
  padding: 0 0 16px;
  list-style: none;
}

.footer__column-link {
  display: block;
  line-height: 30px;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  margin: 0;
}

.footer__social-icon {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}